<html>
    <head>
        <title>Ira`s blog</title>
      </head>
      <body>
        <div>
          <h1> <a href="http://tutorial.djangogirls.org/ru/html/index.html">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
                <div>
                    <p> published: {{ post.publishe_date }}</p>
                    <h1><a href=""> {{ post.title}}</a></h1>
                    <p>{{ post.text|linebreaks }}</p>
                </div>
        {% endfor %}

     </body>
</html>
